<div class="user-details">
  <h1> Featured Works </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="immune" src="{{ "/assets/img/immune.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Supplemented Alkaline Phosphatase Supports the Immune Response in Patients Undergoing Cardiac Surgery: Clinical and Computational Evidence </h3>
    <p align="justify">Alkaline phosphatase (AP) is an enzyme that exhibits anti-inflammatory effects by dephosphorylating inflammation triggering moieties (ITMs) like bacterial lipopolysaccharides and extracellular nucleotides. We developed a mathematical model of systemic inflammation that clarifies the relation between supplemented AP and TNAP and describes a plausible induction mechanism of TNAP in patients undergoing cardiothoracic surgery. The model provides evidence of the existence of an induction mechanism of liver-type tissue non-specific alkaline phosphatase, triggered by the supplementation of AP in patients undergoing cardiac surgery. To the best of our knowledge this is the first time that a quantitative and validated numerical model of systemic inflammation under clinical treatment conditions is presented.</p>
    <a class="project-link" href="https://internal-journal.frontiersin.org/articles/10.3389/fimmu.2018.02342/full", target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="gt" src="{{ "/assets/img/gt.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Game of neutrophils: modeling the balance between apoptosis and necrosis</h3>
    <p align="justify">Neutrophils are one of the key players in the human innate immune system (HIIS). The seemingly paradoxical phenomenon fuels the inflammatory process by triggering the recruitment of additional neutrophils to the site of inflammation, aimed to contribute to the complete neutralization of severe inflammation. This delicate balance between the cost and benefit of the neutrophils’ choice of death pathway has been optimized during the evolution of the innate immune system. The goal of our work is to understand how the tradeoff between the cost and benefit of the different death pathways of neutrophils, in response to various levels of insults, has been optimized over evolutionary time by using the concepts of evolutionary game theory.</p>
    <a class="project-link" href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-019-3044-6" target="_blank">Check it out</a>
  </div>
</div>
